<div class="navigation-container" [ngClass]="{ 'sticky-navigation': isNavigationSticky }">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary p-2">
    <a class="navbar-brand" href="#">
      <img src="/assets/logo.PNG" alt="My App Logo" height="20">
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': isNavbarOpen }">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let menuItem of menuItems">
          <a class="nav-link" [routerLink]="menuItem.link">{{ menuItem.label }}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
