<div class="top-bar bg-info text-dark p-2">
  <div class="container mt-2">
    <div class="d-flex justify-content-between">
      <div class="">
        <span class="top-contact-info">
          <span class="contact-pill phone">
            <i class="fas fa-phone"></i> Mobile: 9603571155
          </span>
          <span class="contact-pill email">
            <i class="fas fa-envelope"></i> Email: nagarajuthandu@gmail.com
          </span>
        </span>
      </div>
      <div class="text-right">
        <span class="top-social-icons">
          <mat-icon mat-fab>facebook</mat-icon>
        </span>
      </div>
    </div>
  </div>
</div>
